<?xml version="1.0" encoding="utf-8"?>
<robot
  name="hexbot"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="macros.xacro" />
  <xacro:base_link_macro />
  <xacro:include filename="legs.xacro" />

  <link
    name="base">
  </link>
  <joint
    name="base_joint"
    type="fixed">
    <origin
      xyz="0 0 0.25"
      rpy="-1.5708 0 0" />
    <parent
      link="base" />
    <child
      link="base_link" />
  </joint>

</robot>
